// 定義陰影的變數
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
$box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
$box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, .075);

// 使用這些變數來定義樣式
.shadow {
    box-shadow: $box-shadow;
}

.shadow-sm {
    box-shadow: $box-shadow-sm;
}

.shadow-lg {
    box-shadow: $box-shadow-lg;
}

.shadow-inset {
    box-shadow: $box-shadow-inset;
}
